@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/xvl5aez.css");
@import url("https://fonts.googleapis.com/css2?family=Zeyada&display=swap");

h4 {
  font-family: "bubblegum-pop-highlight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgb(46, 103, 237);
}

.bg-scroll {
  background-image: url("/clouds_2.png ");
  background-position: right;
  background-repeat: repeat-y;
  animation: scroll-bg 90s linear infinite;
}

@keyframes scroll-bg {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@font-face {
  font-family: "owners2";
  src: url("/fonts/owners/owners-black.otf") format("otf"),
    url("/fonts/owners/owners-black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.image-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.154); /* Adjust the opacity as needed */
}

.text-outline {
  color: white;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
}
