@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/xvl5aez.css");

h4 {
  font-family: "bubblegum-pop-highlight", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bg-scroll {
  background-image: url("/clouds_2.png ");
  background-position: right;
  background-repeat: repeat-y;
  animation: scroll-bg 90s linear infinite;
}

@keyframes scroll-bg {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
